@font-face {
  font-family: "nazanin";
  src: local("nazanin"),
    url("./fonts/nazanin/nazanin-regular.ttf") format("truetype");
  font-weight: regular;
}

body {
  margin: 0;
  font-family: nazanin;
  font-size: 1.5em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
